#footer
  .container
    %p.pull-right.text-muted.credit    
      <iframe src="http://ghbtns.com/github-btn.html?user=JohnDickerson&type=follow&size=large" allowtransparency="true" frameborder="0" scrolling="0" width="230" height="30px"></iframe>    
      <a href="http://www.linkedin.com/pub/john-dickerson/7/74a/83a"><img width="30" height="30" src="/img/linkedin.png" alt="LinkedIn"></img></a>
    