#footer
  .container
    .top-space.pull-right
      <a href="http://scholar.google.com/citations?user=QgDpfCQAAAAJ&hl=en"><img src="/img/GScholar.ico"></img></a>
      <a href="https://github.com/JohnDickerson"><img src="/img/GitHub-Mark-32px.png"></img></a>    
      <a href="http://www.linkedin.com/pub/john-dickerson/7/74a/83a"><img width="32" height="32" src="/img/linkedin.png" alt="LinkedIn"></img></a>
    
