

.row.featurette
  .col-md-7
    %h2.featurette-heading
      First featurette heading.
    %p.lead Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
        
  .col-md-5
    %img.featurette-image.img-responsive{ :src => "img/headshot_barcelona_500.jpg", :alt => "John P. Dickerson" }

%hr.featurette-divider

.row.featurette
  .col-md-7
    %h2.featurette-heading
      First featurette heading.
    %p.lead Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
        
  .col-md-5
    %img.featurette-image.img-responsive{ :src => "data:image/png;base64,", :"data-src" => "holder.js/500x500/auto", :alt => "Generic placeholder image" }
