.row.featurette
  .col-md-8
    %h2.featurette-heading
      Optimization for an uncertain world.
    %p.lead
      I work at the intersection of computer science and economics, with a focus on solving <em>practical problems</em> using stochastic optimization and machine learning.
    %hr.featurette-divider
    %p
      I'm a final-year Ph.D. student in computer science at <a href="http://www.cs.cmu.edu/">Carnegie Mellon</a>, advised by <a href="http://www.cs.cmu.edu/~sandholm/">Tuomas Sandholm</a>.
      /in the <a href="http://www.cs.cmu.edu/~amem/">Electronic Marketplaces Lab</a>.
      I'm the lead developer of the US nationwide <a href="/research#kidney">kidney exchange</a> program, and lead developer of a <a href="http://www.optimizedmarkets.com/">better way</a> to deal with TV advertisements (currently in the pilot phase with two of the nation's largest MSOs).
    %p
      I have published in <em><a href="http://www.sciencemag.org/cgi/content/short/326/5957/1201">Science</a></em> magazine and been interviewed by <em><a href="http://www.scientificamerican.com/article.cfm?id=virtual-war-games">Scientific American</a></em>.
      My work with the Pittsburgh Supercomputing Center on kidney exchange won the 2014 HPCWire &quot;<a href="http://www.hpcwire.com/2014-hpcwire-readers-choice-awards/16/">Best Data-Intensive Application</a>&quot; supercomputing award (tied with IBM Watson).
      A project to which I contributed was covered by <em><a href="http://www.popsci.com/technology/article/2009-12/scare-program-predicts-ied-weapons-caches-used-insurgents">Popular Science</a></em>, and featured in the journal <em><a href="http://www.nature.com/news/2011/110330/full/471566a.html">Nature</a></em>.  
      Coverage of a book I co-authored on data mining and counter-terrorism appeared in <em><a href="http://www.fastcoexist.com/1680540/a-computer-program-that-predicts-terrorist-attacks">Fast Company</a></em>.
      /and the <a href="http://www.baltimoresun.com/news/maryland/bs-md-terrorism-research-20120921,0,7601153.story">Baltimore Sun</a> 
      My <a href="http://www.oakland.edu/enp/">Erd&#246;s number</a> is 3.
    %p
      I am fortunate to be supported by a <a href="https://www.facebook.com/fellowship">Facebook Fellowship</a> (2015+), <a href="http://www.siebelscholars.com/">Siebel Scholarship</a> (class of 2016), and an <a href="http://ndseg.asee.org/">NDSEG Fellowship</a> (2012&ndash;2015).
  .col-md-4
    %img.featurette-image.img-responsive{ :src => "img/dickerson_400px.jpg", :alt => "John P. Dickerson" }

%hr.featurette-divider

.jumbotron.mini-jumbo
  .row
    .col-md-8.col-md-offset-2.center-x
      <em>Get in touch:</em>  
      <strong>dickerson@cs.cmu.edu</strong> 
      /&ndash; <em>or</em> &ndash; 

%hr.featurette-divider

.row
  .col-md-4
    %h2
      Research
    %p
      I apply optimization and AI/ML to real-world problems in medicine, marketing, and counter-terrorism.
      /<a href="/publications">publications</a>
    %p
      %a.btn.btn-default{:href => "research"} View research &raquo;
  .col-md-4
    %h2
      Industry
    %p
      I am available as a consultant, and have worked with a variety of clients in industry and government.  
    %p
      %a.btn.btn-default{:href => "industry"} View industry experience &raquo;
  .col-md-4  
    %h2
      Side Projects
    %p
      Interested in gorilla social hierarchies?  Or how to programatically distract a human child?  So am I!  
    %p
      %a.btn.btn-default{:href => "side_projects"} View side projects &raquo;
    
%hr.featurette-divider
