.row.featurette
  .col-md-8
    %h2.featurette-heading
      Optimization for an uncertain world.
    %p.lead
      I work at the intersection of computer science, AI, and economics, with a focus on solving <em>practical problems</em> using stochastic optimization and machine learning.
    %hr.featurette-divider
    %p
      I'm an Assistant Professor in the <a href="http://cs.umd.edu/">Department of Computer Science</a> at the University of Maryland, with a joint appointment in the University of Maryland Institute for Advanced Computer Studies (<a href="http://www.umiacs.umd.edu/">UMIACS</a>).  I hold a PhD in computer science from <a href="http://www.cs.cmu.edu/">Carnegie Mellon</a>.  At Maryland, I am also formally affiliated with the Applied Mathematics &amp; Statistics, and Scientific Computation (<a href="http://amsc.umd.edu/">AMSC</a>) program, as well as the Human-Computer Interaction Laboratory (<a href="http://www.cs.umd.edu/hcil/">HCIL</a>) and Maryland Transportation Institute (<a href="https://mti.umd.edu/">MTI</a>).  Recently, I've become involved with worldwide blood donation, primarily through a visiting research position at Facebook.  I've also been heavily involved in the world of organ allocation for a decade, primarily through the United Network for Organ Sharing (UNOS).
      /I have published in <em><a href="http://www.sciencemag.org/cgi/content/short/326/5957/1201">Science</a></em> magazine and been interviewed by <em><a href="http://www.scientificamerican.com/article.cfm?id=virtual-war-games">Scientific American</a></em> and <em><a href="http://money.cnn.com/2016/12/04/technology/westworld-artificial-intelligence/">CNN</a></em>.
      /My work with the Pittsburgh Supercomputing Center on kidney exchange won the 2014 HPCWire &quot;<a href="http://www.hpcwire.com/2014-hpcwire-readers-choice-awards/16/">Best Data-Intensive Application</a>&quot; supercomputing award (tied with IBM Watson).
      /A project to which I contributed was covered by <em><a href="http://www.popsci.com/technology/article/2009-12/scare-program-predicts-ied-weapons-caches-used-insurgents">Popular Science</a></em>, and featured in the journal <em><a href="http://www.nature.com/news/2011/110330/full/471566a.html">Nature</a></em>.
      /Coverage of a book I co-authored on data mining and counter-terrorism appeared in <em><a href="http://www.fastcoexist.com/1680540/a-computer-program-that-predicts-terrorist-attacks">Fast Company</a></em>.
      /and the <a href="http://www.baltimoresun.com/news/maryland/bs-md-terrorism-research-20120921,0,7601153.story">Baltimore Sun</a> 
      /My <a href="http://www.oakland.edu/enp/">Erd&#246;s number</a> is 3.
    %p
      My research is currently supported by an <a href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=1846237&HistoricalAwards=false">NSF CAREER</a> award, as well as by current or recent grants from DARPA, ARPA-E, NIH (R01), and generous gifts from industry partners such as Google.  Previously, I was supported by a <a href="https://www.facebook.com/fellowship">Facebook Fellowship</a> (2015&ndash;2017), <a href="http://www.siebelscholars.com/">Siebel Scholarship</a> (class of 2016), and an <a href="http://ndseg.asee.org/">NDSEG Fellowship</a> (2012&ndash;2015).
    %p
      Outside of Maryland, I am Chief Scientist at <a href="https://www.arthur.ai/">ArthurAI</a>, where we develop and deploy enterprise-grade AI systems.  You can read more about Arthur in this recent <a href="https://www.wired.com/story/these-startups-are-building-tools-keep-eye-ai/">Wired article</a>.  If you're interested in building scalable monitoring solutions for AI systems, get in touch; we're hiring!  I am also fortunate to advise two (UMD-alumnus-founded!) startups: <a href="https://www.ensu.com/">Ensu</a>, which helps users understand their emotional health through music, and <a href="https://govshop.publicspendforum.net/">GovShop</a>, which provides market intelligence to public sector buyers and suppliers.  A while ago, I built the earliest allocation and pricing products at <a href="http://optimizedmarkets.com/">Optimized Markets</a>.
  .col-md-4
    %img.featurette-image.img-responsive{ :src => "img/dickerson_umd.jpeg", :alt => "John P. Dickerson" }

%hr.featurette-divider

.jumbotron.mini-jumbo
  .row
    .col-md-8.col-md-offset-2.center-x
      %p
        <strong>Note to prospective PhD students:</strong>  The CS department at the University of Maryland admits students to the department itself, not to an individual advisor.  However, I will do my best to respond to inquiry emails.
      %p
        %small
          %em
            If you are an already-admitted or current PhD student at the University of Maryland, feel free to get in touch!  <code>john@cs.umd.edu</code>

%hr.featurette-divider
