.jumbotron
  %h1 Industry


%a{:name => "om"}
.row
  .col-md-8
    %p
      Something about Optimized Markets.

%hr.featurette-divider

%a{:name => "all"}
.row.featurette
  .col-md-4
    %a{:href => "http://www.nsa.gov"}
      %img.featurette-image.img-responsive{:src => "/img/industry/NSA_200x200.png", :alt => "NSA"}
    
  .col-md-8
    %p Words words words.

.row.featurette
  .col-md-4
    %a{:href => "http://www.ibm.com/us/en/"}
      %img.featurette-image.img-responsive{:src => "/img/industry/IBM.png", :alt => "IBM"}
    
  .col-md-8
    %p Words words words.

.row.featurette
  .col-md-4
    %a{:href => "http://gorillafund.org/"}
      %img.featurette-image.img-responsive{:src => "/img/industry/dfgf_logo.gif", :alt => "Dian Fossey Gorilla Fund International"}
    
  .col-md-8
    %p Words words words.

.row.featurette
  .col-md-4
    %a{:href => "http://sentimetrix.com"}
      %img.featurette-image.img-responsive{:src => "/img/industry/Sentimetrix.jpg", :alt => "Sentimetrix"}
    
  .col-md-8
    %p Words words words.

.row.featurette
  .col-md-4
    %a{:href => "http://www.cattlab.umd.edu/"}
      %img.featurette-image.img-responsive{:src => "/img/industry/cattlab.png", :alt => "CATT Laboratory"}
    
  .col-md-8
    %p Words words words.

