.header-jumbo
  <h1> Industry <small> :: Collaborations with the corporate world.</small></h1>


%hr.featurette-divider

%a{:name => "om"}
.row.featurette
  .col-md-8
    %h2.featurette-heading
      %em Case Study:
      Optimized Markets, Inc.
    %p.lead
      2012&mdash;Present
    %p
      With the increasing popularity of non-linear TV and the introduction of new content delivery mechanisms, monetization in the TV space is becoming more complex.  With my advisor <a href="http://www.cs.cmu.edu/~sandholm/">Tuomas Sandholm</a>, I am designing a new marketplace for advertising sales that uses optimization to tame this complexity from the human's perspective&mdash;while increasing overall market efficiency from a computational economics point of view.
    %p
      We have pilot programs under way with two of the nation's largest MSOs, and are currently specifying a pilot with a large broadcast TV content provider. 
      %em More information to come!  See the <a href="http://optimizedmarkets.com">website</a> for details.
  .col-md-4
    %img.featurette-image.img-responsive.pagination-centered.text-center.center-y{:src => "/img/industry/optimized_markets.png", :alt => "Optimized Markets"}


      
%hr.featurette-divider

%a{:name => "all"}
.row.featurette
  .col-md-8
    %h2.featurette-heading
      Other Collaborations
      
.row.top-space
  .col-md-3
    %a{:href => "http://www.ibm.com/us/en/"}
      %img.featurette-image.img-responsive{:src => "/img/industry/IBM.png", :alt => "IBM"}

  .col-md-3
    %a{:href => "http://www.nsa.gov"}
      %img.featurette-image.img-responsive{:src => "/img/industry/NSA_200x200.png", :alt => "NSA"}

  .col-md-3
    %a{:href => "http://gorillafund.org/"}
      %img.featurette-image.img-responsive{:src => "/img/industry/dfgf_logo.gif", :alt => "Dian Fossey Gorilla Fund International"}

  .col-md-3
    %a{:href => "http://www.cattlab.umd.edu/"}
      %img.featurette-image.img-responsive{:src => "/img/industry/cattlab.png", :alt => "CATT Laboratory"}

.row.top-space
  .col-md-3
    %a{:href => "http://sentimetrix.com"}
      %img.featurette-image.img-responsive{:src => "/img/industry/Sentimetrix.jpg", :alt => "Sentimetrix"}
  
  .col-md-3
    %a{:href => "http://www.umiacs.umd.edu/"}
      %img.featurette-image.img-responsive{:src => "/img/industry/umiacs.png", :alt => "UMIACS"}
  
  .col-md-3
    %a{:href => "http://www.unos.org/"}
      %img.featurette-image.img-responsive{:src => "/img/industry/unos.jpg", :alt => "UNOS"}

  .col-md-3
    %a{:href => "http://www.nist.gov/"}
      %img.featurette-image.img-responsive{:src => "/img/industry/nist.png", :alt => "NIST"}

%hr.featurette-divider

.row.top-space
  .col-md-12
    %p.lead
      For more information, please email:
      %code dickerson@cs.cmu.edu
   
