.header-jumbo
  <h1> Industry <small> :: Collaborations with the corporate world.</small></h1>


%hr.featurette-divider

%a{:name => "om"}
.row.featurette
  .col-md-8
    %h2.featurette-heading
      %em Case Study:
      Optimized Markets, Inc.
    %p.lead
      2011&mdash;Present
    %p
      Something about Optimized Markets.

      
%hr.featurette-divider

%a{:name => "all"}
.row.featurette
  .col-md-8
    %h2.featurette-heading
      Other Collaborations
      
.row.top-space
  .col-md-3
    %a{:href => "http://www.ibm.com/us/en/"}
      %img.featurette-image.img-responsive{:src => "/img/industry/IBM.png", :alt => "IBM"}

  .col-md-3
    %a{:href => "http://www.nsa.gov"}
      %img.featurette-image.img-responsive{:src => "/img/industry/NSA_200x200.png", :alt => "NSA"}

  .col-md-3
    %a{:href => "http://gorillafund.org/"}
      %img.featurette-image.img-responsive{:src => "/img/industry/dfgf_logo.gif", :alt => "Dian Fossey Gorilla Fund International"}

  .col-md-3
    %a{:href => "http://www.cattlab.umd.edu/"}
      %img.featurette-image.img-responsive{:src => "/img/industry/cattlab.png", :alt => "CATT Laboratory"}

.row.top-space
  .col-md-3
    %a{:href => "http://sentimetrix.com"}
      %img.featurette-image.img-responsive{:src => "/img/industry/Sentimetrix.jpg", :alt => "Sentimetrix"}
  
  .col-md-3
    %a{:href => "http://www.umiacs.umd.edu/"}
      %img.featurette-image.img-responsive{:src => "/img/industry/umiacs.png", :alt => "UMIACS"}
  
  .col-md-3
    %a{:href => "http://www.unos.org/"}
      %img.featurette-image.img-responsive{:src => "/img/industry/unos.jpg", :alt => "UNOS"}

  .col-md-3
    %a{:href => "http://www.nist.gov/"}
      %img.featurette-image.img-responsive{:src => "/img/industry/nist.png", :alt => "NIST"}

%hr.featurette-divider

.row.top-space
  .col-md-12
    %p.lead
      For more information, please email:
      %code dickerson@cs.cmu.edu
   