.header-jumbo
  <h1> Dickerson Lab <small> :: Fairness &amp; Efficiency in Market Design via AI/ML</small></h1>

%hr.featurette-divider

<p>I am extremely fortunate to work with PhD-to-be collaborators at the University of Maryland and elsewhere.  Nearly all academic work is collaborative in nature, and the research coming out of my lab is no different.  If you are interested in joining the University of Maryland, please start <a href="https://www.cs.umd.edu/grad/catalog">here</a>!</p>

%hr.featurette-divider

%a{:name => "lab"}
.row.featurette
  .col-md-8
    %h2.featurette-heading
      PhD (Current)
    %p
      %ul
        %li
          Saptarashmi Bandyopadhyay (2022&mdash;), CS
        %li
          <a href="https://trinity24.github.io/">Sharmila Duppala</a> (2021&mdash;), CS, joint with <a href="https://www.cs.umd.edu/~srin/">Aravind Srinivasan</a>
        %li
          <a href="https://vsahil.github.io/">Sahil Verma</a> (2021&mdash;), CS, joint with <a href="http://chiragshah.org/">Chirag Shah</a> (<a href="https://ischool.uw.edu/">UW</a>)
        %li
          <a href="https://crherlihy.github.io/">Christine Herlihy</a> (2020&mdash;), CS
        %li
          <a href="https://nvedant07.github.io/">Vedant Nanda</a> (2019&mdash;), CS, joint with <a href="https://people.mpi-sws.org/~gummadi/">Krishna Gummadi</a> (<a href="https://www.mpi-sws.org/">MPI</a>)
        %li
          <a href="https://avivaprins.com/">Aviva Prins</a> (2019&mdash;), CS, joint with <a href="https://www.cs.umd.edu/~srin/">Aravind Srinivasan</a>
        %li
          <a href="https://ryannavillus.github.io/">Ryan Sullivan</a> (2021&mdash;), CS
        
  .col-md-4

  .col-md-8
    %h2.featurette-heading
      MSc (Alumni)
    %p
      %ul
        %li
          <a href="https://jonathan-valverde-l.github.io/">Jonathan Valverde</a> (MSc 2022), CS; now at <a href="https://research.google/">Google Brain</a> in <a href="https://research.google/people/ZhiyuanCheng/">Derek Cheng</a>'s group
  .col-md-4

  .col-md-8
    %h2.featurette-heading
      PhD (Alumni)
    %p
      %ul
        %li
          <a href="https://sallen7.github.io/">Stephanie Allen</a> (PhD 2022), Applied Math, joint with <a href="http://www.stevenagabriel.umd.edu/">Steven Gabriel</a>; now Senior Professional Staff at JHU's <a href="https://www.jhuapl.edu/">Applied Physics Laboratory</a>
        %li
          <a href="http://www.cs.umd.edu/~curry/">Michael Curry</a> (PhD 2022), CS, joint with <a href="http://www.cs.umd.edu/~tomg/">Tom Goldstein</a>; now a post-doc at the University of Zurich's <a href="https://www.ifi.uzh.ch/en/ce.html">Computation and Economics Research Group</a> with <a href="https://www.ifi.uzh.ch/en/ce/people/seuken.html">Prof. Dr. Sven Seuken</a> and Harvard's <a href="https://econcs.seas.harvard.edu/">EconCS group</a> with <a href="https://parkes.seas.harvard.edu/">David Parkes</a>
        %li
          <a href="http://www.cs.umd.edu/~sdooley1/">Samuel Dooley</a> (PhD 2023), CS; now senior research scientist at <a href="https://abacus.ai/">Abacus.AI</a>
        %li
          <a href="https://sa-esmaeili.github.io/">Seyed Esmaeili</a> (PhD 2023), CS, joint with <a href="https://www.cs.umd.edu/~srin/">Aravind Srinivasan</a>; now at <a href="https://en.wikipedia.org/wiki/Simons_Laufer_Mathematical_Sciences_Institute">Berkeley SLMath</a> followed by a post-doc at the University of Chicago with <a href="https://www.haifeng-xu.com/">Haifeng Xu</a>
        %li
          <a href="https://mknittel.github.io/">Marina Knittel</a> (PhD 2023), CS, joint with <a href="http://www.cs.umd.edu/~hajiagha/">Mohammad Hajiaghayi</a>; now a post-doc at UCSD's <a href="https://encore.ucsd.edu/">EnCORE</a> primarily with <a href="https://barnasaha.net/">Barna Saha</a>
        %li
          <a href="https://jinglingli.github.io/">Jingling Li</a> (PhD 2023), CS; now a research scientist at Bytedance's Responsible AI team with <a href="http://www.yliuu.com/">Yang Liu</a>
        %li
          <a href="https://duncanmcelfresh.github.io/">Duncan McElfresh</a> (PhD 2021), Applied Math; now at <a href="https://healthpolicy.fsi.stanford.edu/fellowships/va_physician_postresidency_fellowship_in_health_services_research_and_development">Fellowship Program in Health Services Research and Development</a>, <a href="https://www.paloalto.va.gov/">VA</a> &amp; <a href="https://healthpolicy.fsi.stanford.edu/">Stanford</a>
        %li
          <a href="https://www.candiceschumann.com/">Candice Schumann</a> (PhD 2020), CS; now at <a href="https://research.google/">Google Research<a/>
        %li
          <a href="https://farama.org/">Jordan Terry</a> (PhD 2023), CS, joint with <a href="https://complex.umd.edu/">Dan Lathrop</a>; founder &amp; CEO of <a href="https://farama.org/">Farama Foundation</a>
        %li
          <a href="https://www.ltsepene.com/">Leo Tsepenekas</a> (PhD 2022), CS, joint with <a href="https://www.cs.umd.edu/~srin/">Aravind Srinivasan</a>; now at <a href="https://www.jpmorgan.com/technology/artificial-intelligence">JP Morgan AI Research</a>
        %li
          <a href="https://sites.google.com/site/panxupi/">Pan Xu</a> (PhD 2019), CS, joint with <a href="https://www.cs.umd.edu/~srin/">Aravind Srinivasan</a>; now an Assistant Professor at <a href="https://cs.njit.edu/">NJIT</a>
  .col-md-4

.row
  %hr.featurette-divider

  <p>Our lab hosts undergraduate and outstanding high school students for research experiences; these can be either informal, quasi-formal (e.g., through the <a href="https://undergrad.cs.umd.edu/research-professorial-faculty-cmsc499a">CMSC499</a> course at UMD), or very formal (e.g., through our NSF-funded REU <a href="http://www.cs.umd.edu/projects/reucaar/">Combinatorics and Algorithms for Real Problems (CAAR)</a>, on which I am co-PI) arrangements.  Below are students with whom our work resulted in something that has been, or could be, published at the level of a top-tier workshop or higher.</p>

  %hr.featurette-divider

.row
  .col-md-8
    %h2.featurette-heading
      Pre-PhD (Current &amp; Past)
    %p
      %ul
        %li
          Davidson Cheng, Colorado College, 2022&mdash;, Next position: TBD
        %li
          Yang Hong, Bucknell, 2022&mdash;, Next position: TBD
        %li
          <a href="https://gzhihongwei.github.io/">George Wei</a>, UMass Amherst, 2021&mdash;, Next position: Meta AI Residency
        %li
          J. J. Shankar, Pomona, 2021&mdash;2022, Next position: Fulbright (Taiwan)
        %li
          Bradon Thymes, Howard, 2021&mdash;2022, Next position: Cornell (PhD)
        %li
          Elizabeth Horishny, Hofstra, 2020&mdash;2021, Next position: TBD
        %li
          <a href="https://imkevinkuo.github.io/">Kevin Kuo</a>, UMD, 2020&mdash;2021, Next position: CMU (PhD)
        %li
          <a href="https://aostuni.github.io/">Anthony Ostuni</a>, UMD, 2020&mdash;2021, Next position: UCSD (PhD)
        %li
          <a href="http://www.neeharperi.com/">Neehar Peri</a>, UMD, 2020&mdash;2021, Next position: CMU (PhD)
        %li
          <a href="https://www.linkedin.com/in/amanjaiman/">Aman Jaiman</a>, UMD, 2019&mdash;2020, next position: Microsoft
        %li
          <a href="https://www.linkedin.com/in/urolyi/">Uro Lyi</a>, UMD, 2019&mdash;2021, next position: Citadel
        %li
          <a href="http://naveenraman.com/">Naveen Raman</a>, UMD, 2019&mdash;, next position: Cambridge Scholarship followed by CMU (PhD)
        %li
          <a href="https://www.linkedin.com/in/mary-monroe-b75b9b1a5/">Mary Monroe</a>, UMD, 2019&mdash;2020, next position: Amazon
        %li
          <a href="https://yccui.github.io/">Charles Cui</a>, Oberlin, 2019&mdash;2020, next position: Northwestern (PhD)
        %li
          <a href="https://www.linkedin.com/in/kendra-griesman-03329b173/">Kendra Griesman</a>, Haverford, 2019&mdash;2020, next position: 84.51 Degrees
        %li
          <a href="https://www.linkedin.com/in/weiqin-wang-2b03aa148/">Weiqin Wang</a>, Penn State, 2019&mdash;2020, Next position: CMU (Msc)
        %li
          <a href="https://tylerwill.github.io/">Tyler Will</a>, Michigan State, 2019&mdash;2020, Next position: Columbia University (PhD)
        %li
          <a href="https://www.linkedin.com/in/zachzzhao/">Zeyu &quot;Zach&quot; Zhao</a>, Montgomery Blair High School &amp; UMD, 2019&mdash;2020, Next position: TBD
        %li
          <a href="https://darshanc.com/">Darshan Chakrabarti</a>, CMU, 2018&mdash;, Next position: Columbia University (PhD)
        %li
          <a href="https://kweku.me/">Kweku Kwegyir-Aggrey</a>, UMD, 2018&mdash;, Next position: Brown University (PhD)
        %li
          Yuhao Wan, Carleton, 2018&mdash;2019, Next position, University of Washington (PhD)
        %li
          <a href="https://www.linkedin.com/in/josephtbergman/">Joseph &quot;J.T.&quot; Bergman</a>, UMD, 2017&mdash;2019, Next position: Microstrategy
        %li
          <a href="https://samsaranc.github.io/">Samsara Counts</a>, GWU, 2017&mdash;2019, Next position: MPI-SWS
        %li
          Willy Lang, UMD, 2017&mdash;2019, Next position: Flatiron Health
        %li
          <a href="http://www.camoy.name/">Cameron Moy</a>, UMD, 2017&mdash;2018, Next position: Northeastern (PhD)
        %li
          <a href="https://www.linkedin.com/in/iparikh/">Ishaan Parikh</a>, UMD, 2017&mdash;2018, Next position: Robinhood
        %li
          <a href="https://www.linkedin.com/in/linyi-chen/">Linyi Xi</a>, Haverford, 2017&mdash;2018, Next position: CMU LTI (MSc)
        %li
          <a href="http://ndurvasula.com/">Naveen Durvasula</a>, Montgomery Blair High School &amp; UC Berkeley, 2017&mdash;, Next position: TBD
        %li
          <a href="https://www.linkedin.com/in/ayman-karim-a2b114a0/">Ayman Karim</a>, UMD, 2016&mdash;2017, Next position: Blend
        %li
          <a href="http://adityamithas.com/">Aditya Mithas</a>, UMD, 2016&mdash;2017, Next position: Google
        %li
          <a href="https://www.linkedin.com/in/kevinschechter/">Kevin Schechter</a>, UMD, 2016&mdash;2017, Next position: Microsoft
        %li
          <a href="https://cs.stanford.edu/people/bplaut/">Benjamin Plaut</a>, CMU, 2015&mdash;2016, Next position: Stanford (PhD)
  .col-md-4

.row
  .col-md-12
    %hr.featurette-divider

    <p><em>If you are missing from this website, or if your information is out of date, please get in touch with John!</em></p>

    %hr.featurette-divider
