.header-jumbo
  <h1> Dickerson Lab <small> :: Fairness &amp; Efficiency in Market Design via AI/ML</small></h1>

%hr.featurette-divider

<p>I am extremely fortunate to work with PhD-to-be collaborators at the University of Maryland and elsewhere.  Nearly all academic work is collaborative in nature, and the research coming out of my lab is no different.  If you are interested in joining the University of Maryland, please start <a href="https://www.cs.umd.edu/grad/catalog">here</a>!</p>

%hr.featurette-divider

%a{:name => "lab"}
.row.featurette
  .col-md-8
    %h2.featurette-heading
      PhD (Current)
    %p
      %ul
        %li
          Leo Tespenekas (2021&mdash;), CS, joint with <a href="https://www.cs.umd.edu/~srin/">Aravind Srinivasan</a>
        %li
          <a href="https://sallen7.github.io/">Stephanie Allen</a> (2021&mdash;), Applied Math, joint with <a href="http://www.stevenagabriel.umd.edu/">Steven Gabriel</a>
        %li
          Seyed Esmaeili (2020&mdash;), CS
        %li
          <a href="https://crherlihy.github.io/">Christine Herlihy</a> (2020&mdash;), CS
        %li
          <a href="https://mknittel.github.io/">Marina Knittel</a> (2020&mdash;), CS, joint with <a href="http://www.cs.umd.edu/~hajiagha/">Mohammad Hajiaghayi</a>
        %li
          Jingling Li (2020&mdash;), CS
        %li
          Justin Terry (2020&mdash;), CS
        %li
          <a href="http://www.cs.umd.edu/~sdooley1/">Samuel Dooley</a> (2019&mdash;), CS
        %li
          <a href="https://nvedant07.github.io/">Vedant Nanda</a> (2019&mdash;), CS, joint with <a href="https://people.mpi-sws.org/~gummadi/">Krishna Gummadi</a> (<a href="https://www.mpi-sws.org/">MPI</a>)
        %li
          <a href="https://avivaprins.com/">Aviva Prins</a> (2019&mdash;), CS, joint with <a href="https://www.cs.umd.edu/~srin/">Aravind Srinivasan</a>
        %li
          <a href="http://www.cs.umd.edu/~curry/">Michael Curry</a> (2018&mdash;), CS, joint with <a href="http://www.cs.umd.edu/~tomg/">Tom Goldstein</a>
        %li
          <a href="https://duncanmcelfresh.github.io/">Duncan McElfresh</a> (2017&mdash;), Applied Math
          
          
          
          
  .col-md-8
    %h2.featurette-heading
      PhD (Alumni)
    %p
      %ul
        %li
          <a href="https://www.candiceschumann.com/">Candice Schumann</a> (2016&mdash;2020), CS, now at <a href="https://research.google/">Google Research<a/>
        %li
          <a href="https://sites.google.com/site/panxupi/">Pan Xu</a> (2016&mdash;2019), CS, joint with <a href="https://www.cs.umd.edu/~srin/">Aravind Srinivasan</a>; now an Assistant Professor at <a href="https://cs.njit.edu/">NJIT</a>
        
  .col-md-8
    %h2.featurette-heading
      Pre-PhD (Current &amp; Past)
    %p
      %ul
        %li
          Elizabeth Horishny, Hofstra, 2020&mdash;, Next position: TBD
        %li
          <a href="https://imkevinkuo.github.io/">Kevin Kuo</a>, UMD, 2020&mdash;21, Next position: CMU (PhD)
        %li
          <a href="https://aostuni.github.io/">Anthony Ostuni</a>, UMD, 2020&mdash;, Next position: UCSD (PhD)
        %li
          <a href="http://www.neeharperi.com/">Neehar Peri</a>, UMD, 2020&mdash;, Next position: CMU (PhD)
        %li
          Aman Jaiman, UMD, 2019&mdash;20, next position: TBD
        %li
          Uro Lyi, UMD, 2019&mdash;, next position: TBD
        %li
          <a href="http://naveenraman.com/">Naveen Raman</a>, UMD, 2019&mdash;, next position: TBD
        %li
          Mary Monroe, UMD, 2019&mdash;2020, next position: TBD
        %li
          <a href="https://yccui.github.io/">Charles Cui</a>, Oberlin, 2019&mdash;2020, next position: Northwestern (PhD)
        %li
          Kendra Griesman, Haverford, 2019&mdash;2020, next position: 84.51 Degrees
        %li
          Weigin Wang, Penn State, 2019&mdash;2020, Next position: CMU (Msc)
        %li
          Tyler Will, Michigan State, 2019&mdash;2020, Next position: Columbia University (PhD)
        %li
          Darshan Chakrabarti, CMU, 2018&mdash;, Next position: Columbia University (PhD)
        %li
          <a href="https://kweku.me/">Kweku Kwegyir-Aggrey</a>, UMD, 2018&mdash;, Next position: Brown University (PhD)
        %li
          Yuhao Wan, Carleton, 2018&mdash;2019;, Next position, University of Washington (PhD)
        %li
          Joseph &quot;J.T.&quot; Bergman, UMD, 2017&mdash;2019;, Next position: Microstrategy
        %li
          <a href="https://samsaranc.github.io/">Samsara Counts</a>, GWU, 2017&mdash;2019, Next position: MPI-SWS
        %li
          Willy Lang, UMD, 2017&mdash;2019, Next position: Flatiron Health
        %li
          <a href="http://www.camoy.name/">Cameron Moy</a>, UMD, 2017&mdash;2018, Next position: Northeastern (PhD)
        %li
          Ishaan Parikh, UMD, 2017&mdash;2018, Next position: Robinhood
        %li
          Linyi Xi, Haverford, 2017&mdash;2018, Next position: CMU LTI (MSc)
        %li
          Ayman Karim, UMD, 2016&mdash;2017, Next position: Blend
        %li
          <a href="http://adityamithas.com/">Aditya Mithas</a>, UMD, 2016&mdash;2017, Next position: Google
        %li
          Kevin Schechter, UMD, 2016&mdash;2017, Next position: Microsoft
        %li
          <a href="https://cs.stanford.edu/people/bplaut/">Benjamin Plaut</a>, CMU, 2015&mdash;2016, Next position: Stanford (PhD)
