.navbar.navbar-inverse.navbar-static-top
  .container
    .navbar-header
      %button.navbar-toggle{:type => "button", :"data-collapse" => "collapse", :"data-target" => ".navbar-collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "/"} John P. Dickerson
    .navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li{:class => ('active' if @active == :research)}
          %a{:href => "/research", } Research
        %li{:class => ('active' if @active == :publications)}
          %a{:href => "/pubs"} Publications
        %li{:class => ('active' if @active == :industry)}
          %a{:href => "/industry"} Industry
        %li{:class => ('active' if @active == :side_projects)}
          %a{:href => "/side_projects"} Side Projects
        %li
          %a{:href => "/files/dickerson.john.p.cv.pdf"} C.V.
    
