.masthead
  %h3.muted John P. Dickerson
  .navbar
    .navbar-inner
      .container
        %ul.nav
          %li.active
            %a{:href => "#"} Home
          %li
            %a{:href => "#"} Research
          %li
            %a{:href => "#"} Publications
          %li
            %a{:href => "#"} Service
          %li
            %a{:href => "#"} C.V.
