.row.featurette
  %a{:name => "#{aname}"}
  %h2= header
- pub_map.sort.reverse.map do |year, pub_keys|
  .row  
    .col-md-2.text-right
      %h3.nopad.nomarg= year
    .col-md-9
      = rep_pubs_list(pub_keys, include_links)
