.jumbotron
  %h1 Research
  %p Academic projects I've led or with which I've been involved.
  %ul.list-inline
    %li 
      %a{:href => "#kidney"} Kidney Exchange
    %li 
      %a{:href => "#ads"} Dynamic Advertising
    %li
      %a{:href => "#ct"} Counter-terrorism


%hr.featurette-divider


%a{:name => "kidney"}
.row.featurette
  .col-md-8
    %h2.featurette-heading
      Kidney Exchange.
    %p.lead
      2010&mdash;Present
.row
  .col-md-8
    %p
      The preferred treatment for kidney failure is transplantation. However, the demand for donor kidneys is far greater than supply.  In the US, roughly 35,000 people are added to a waiting list of approximately 100,000 each year, while only 11,000 leave due to receiving a kidney.  Demand is increasing worldwide.  
    %p
      <em>Kidney exchange</em> is a recent innovation that allows patients who suffer from terminal kidney failure, and have been lucky enough to find a willing but incompatible kidney donor, to swap donors.  The algorithms and code we develop at CMU currently run the US nationwide kidney exchange program (facilitated through <a href="http://www.unos.org/">UNOS</a>); this program now includes over 130 hospitals and matches on a weekly basis..
    %p
      There are many open problems in kidney exchange&mdash;in operations research, economics, policy, and medical data mining.  Feel free to get in touch if any of these strike your fancy!
    %h4 Representative Publications
    = rep_pubs_list(['Dickerson13:Failure', 'Dickerson12:Dynamic', 'Dickerson12:Optimizing'], true)

  .col-md-4
    %img.featurette-image.img-responsive.pagination-centered.text-center.center-y{:src => "/img/research/dynamic_kidney_exchange.png", :alt => "Kidney exchange."}


%hr.featurette-divider

%a{:name => "ads"}
.row.featurette
  .col-md-4

  .col-md-8
    %h2.featurette-heading
      Dynamic TV and Cross-Media Advertising.
    %p.lead
      2012&mdash;Present
.row
  .col-md-4
    %img.featurette-image.img-responsive{:src => "data:image/png;base64,", :"data-src" => "holder.js/500x300/auto", :alt => "Dynamic advertising."}
  .col-md-8
    %p
      With the increasing popularity of non-linear TV and the introduction of new content delivery mechanisms, monetization in the TV space is becoming more complex.  With my advisor <a href="http://www.cs.cmu.edu/~sandholm/">Tuomas Sandholm</a>, I am designing a new marketplace for advertising sales that uses optimization to tame this complexity from the human's perspective&mdash;while increasing overall market efficiency from a computational economics point of view.
    %p
      We have a pilot program under way with one of the nation's largest MSOs, and are currently specifying a pilot with a large broadcast TV content provider. 
    %h4 Representative Publications
    %p.text-muted Coming soon!  We're working on the industrial side of things first; check out <a href="industry#om">Optimized Markets</a> for details.
      

%hr.featurette-divider

%a{:name => "ct"}
.row.featurette
  .col-md-8
    %h2.featurette-heading
      Counter-terrorism.
    %p.lead
      2008&mdash;Present
    %p
      Terrorism

    %h4 
      Representative Publications
    = rep_pubs_list(['Subrahmanian12:Computational', 'Shakarian12:Adversarial', 'Dickerson10:Graph', 'Subrahmanian09:What'], true)

  .col-md-4
    %img.featurette-image.img-responsive{:src => "data:image/png;base64,", :"data-src" => "holder.js/500x300/auto", :alt => "Counter-terrorism."}


%hr.featurette-divider


