.header-jumbo
  <h1> Research <small> :: Major academic projects and thesis work.</small> </h1>

  %ul.list-inline
    %li 
      %a{:href => "#kidney"} 
        %span.glyphicon.glyphicon-circle-arrow-down
        Kidney Exchange
      
    %li 
      %a{:href => "#ads"}
        %span.glyphicon.glyphicon-circle-arrow-down
        Dynamic Advertising
    %li
      %a{:href => "#ct"}
        %span.glyphicon.glyphicon-circle-arrow-down
        Counter-terrorism


%hr.featurette-divider


%a{:name => "kidney"}
.row.featurette
  .col-md-8
    %h2.featurette-heading
      Kidney Exchange.
    %p.lead
      2010&mdash;Present
.row
  .col-md-8
    %p
      The preferred treatment for kidney failure is transplantation. However, the demand for donor kidneys is far greater than supply.  In the US, roughly 35,000 people are added to a waiting list of approximately 100,000 each year, while only 16,000 leave due to receiving a kidney.  Demand is increasing worldwide.  
    %p
      <em>Kidney exchange</em> is a recent innovation that allows patients who suffer from terminal kidney failure, and have been lucky enough to find a willing but incompatible kidney donor, to swap donors.  The algorithms and code we develop at CMU currently run the US nationwide kidney exchange program (facilitated through <a href="http://www.unos.org/">UNOS</a>); this program now includes over 130 hospitals and matches on a weekly basis.
    %p
      There are many open problems in kidney exchange&mdash;in operations research, economics, policy, and medical data mining.  Feel free to get in touch if any of these strike your fancy!
    %h4 Representative Publications
    = rep_pubs_list(['Dickerson14:Price', 'Dickerson14:Multi', 'Dickerson13:Failure', 'Dickerson12:Dynamic', 'Dickerson12:Optimizing'], true)

  .col-md-4
    %img.featurette-image.img-responsive.pagination-centered.text-center.center-y{:src => "/img/research/dynamic_kidney_exchange.png", :alt => "Kidney exchange."}


%hr.featurette-divider

%a{:name => "ads"}
.row.featurette
  .col-md-4
    %img.featurette-image.img-responsive{:src => "/img/research/tv_02.jpg", :alt => "Dynamic TV and Cross-Media Advertising."}
  .col-md-8
    %h2.featurette-heading
      Dynamic TV and Cross-Media Advertising.
    %p.lead
      2012&mdash;Present
    %p
      With the increasing popularity of non-linear TV and the introduction of new content delivery mechanisms, monetization in the TV space is becoming more complex.  With my advisor <a href="http://www.cs.cmu.edu/~sandholm/">Tuomas Sandholm</a>, I am designing a new marketplace for advertising sales that uses optimization to tame this complexity from the human's perspective&mdash;while increasing overall market efficiency from a computational economics point of view.
    %p
      We have a pilot program under way with one of the nation's largest MSOs, and are currently specifying a pilot with a large broadcast TV content provider. 
    %h4 Representative Publications
    %p.text-muted Coming soon!  We're working on the industrial side of things first; check out <a href="http://optimizedmarkets.com">Optimized Markets</a> for details.
      

%hr.featurette-divider

%a{:name => "ct"}
.row.featurette
  .col-md-8
    %h2.featurette-heading
      Counter-terrorism.
    %p.lead
      2008&mdash;Present
  .col-md-4

.row
  .col-md-8
    %p
      We have shown that large-scale analysis of terror groups benefits from the use of current computational analysis techniques through a variety of theoretical and real-world case studies, including:
      %ul
        %li
          an in-depth look at the South Asian terrorist organization <a href="http://en.wikipedia.org/wiki/Lashkar-e-Taiba">Lashkar-e-Taiba</a>, using data collected by social scientists covering 770 features of the group over the last two decades;
        %li
          using geospatial abduction to infer the locations of improvised explosive device (IED) and weapons caches in Baghdad, Iraq, and to recommend search strategies for multiple possible locations;
        %li
          investigating static and dynamic asset protection (e.g., &quot;what is the best way to protect a parade route?&quot;) on large graphs against game-theoretic adversaries; and
        %li
          theoretically and empirically analyzing the five-player game including the US, India, Pakistan's government, Pakistan's military, and Lashkar-e-Taiba under the assumption that different policy experts will have different viewpoints regarding various actions taken by each player.
    %p
      To discuss these projects in greater depth, please get in touch: <code>dickerson@cs.cmu.edu</code>.
    %h4 
      Representative Publications
    = rep_pubs_list(['Dickerson13:PREVE', 'Subrahmanian12:Computational', 'Shakarian12:Adversarial', 'Dickerson10:Graph', 'Subrahmanian09:What'], true)

  .col-md-4
    %img.featurette-image.img-responsive{:src => "/img/research/drug_lab_locations.png", :alt => "Counter-terrorism image."}


%hr.featurette-divider


