.jumbotron
  %h1 Research
  %p Academic projects I've led or with which I've been involved.
  %ul.list-inline
    %li Kidney Exchange
    %li Dynamic Advertising


%hr.featurette-divider


.row.featurette
  .col-md-8
    %h2.featurette-heading
      Kidney Exchange.
    %p.lead
      2010&mdash;Present
    %p
      Filler text.  Filler text.  Filler text.  Filler text.  Filler text.  Filler text.  Filler text.  Filler text.  Filler text.  Filler text.  Filler text.  Filler text.  Filler text.  Filler text.  Filler text.  Filler text.  Filler text.  Filler text.  Filler text.  Filler text.  Filler text.  Filler text.  
    %p
      Filler text.  Filler text.  Filler text.  Filler text.  Filler text.  Filler text.  Filler text.  Filler text.  Filler text.  Filler text.  Filler text.  Filler text.  Filler text.  Filler text.  Filler text.  Filler text.  Filler text.  Filler text.  Filler text.  Filler text.  Filler text.  Filler text.  Filler text.
    %h4 Representative Publications
    = rep_pubs_list(['Dickerson13:Failure', 'Dickerson12:Dynamic', 'Dickerson12:Optimizing'])

  .col-md-4
    %img.featurette-image.img-responsive.pagination-centered{:src => "/img/research/dynamic_kidney_exchange.png", :alt => "Kidney exchange."}


%hr.featurette-divider


.row.featurette
  .col-md-4
    %img.featurette-image.img-responsive{:src => "data:image/png;base64,", :"data-src" => "holder.js/500x300/auto", :alt => "Dynamic advertising."}

  .col-md-8
    %h2.featurette-heading
      Dynamic Advertising.
    %p.lead
      2012&mdash;Present
    %p
      xxx
    %h4 Representative Publications
    %p.text-muted Coming soon!  We're working on the industrial side of things first; check out XXX for details.
      

%hr.featurette-divider


.row.featurette
  .col-md-8
    %h2.featurette-heading
      Counter-terrorism.
    %p.lead
      2008&mdash;Present
    %p
      xxx

    %h4 
      Representative Publications
    = rep_pubs_list(['Subrahmanian12:Computational', 'Shakarian12:Adversarial', 'Dickerson10:Graph', 'Subrahmanian09:What'])

  .col-md-4
    %img.featurette-image.img-responsive{:src => "data:image/png;base64,", :"data-src" => "holder.js/500x300/auto", :alt => "Counter-terrorism."}


%hr.featurette-divider


.row.featurette
  .col-md-4
    %img.featurette-image.img-responsive{:src => "data:image/png;base64,", :"data-src" => "holder.js/500x300/auto", :alt => "Eye Tracking."}

  .col-md-8
    %h2.featurette-heading
      Eye Tracking.
    %p.lead
      2011&mdash;Present
    %p
      xxx
    %h4 
      Representative Publications
    = rep_pubs_list(['Fisher13:Assessing', 'Thiessen12:Eyes'])


%hr.featurette-divider


.row.featurette
  .col-md-8
    %h2.featurette-heading
      Social Networking.
    %p.lead
      2011&mdash;Present
    %p
      xxx
    %h4 Representative Publications
    %p.text-muted Coming soon!  Papers in preparation.

  .col-md-4
    %img.featurette-image.img-responsive{:src => "data:image/png;base64,", :"data-src" => "holder.js/500x300/auto", :alt => "Social Networking."}


%hr.featurette-divider
