.header-jumbo
  <h1> Service &amp; Awards <small> :: Social and academic activities.</small></h1>


%hr.featurette-divider

%a{:name => "service"}
.row.featurette
  .col-md-8
    %h2.featurette-heading
      Academic Service
    %p
      xxx

  .col-md-8
    %h2.featurette-heading
      Social Service
    %p
      xxx
      
%hr.featurette-divider
%a{:name => "awards"}
.row.featurette
  .col-md-8
    %h2.featurette-heading
      Awards
    %ul.list-unstyled
      - [{:name => "NDSEG Fellowship", :desc => "Full tuition, fees, & stipend for 3 years", :usd => 218410}, {:name => "NSF SBIR Phase I", :desc => "Principal Investigator, Award #1345567", :usd => 150000}, {:name => "Travel Funds", :desc => "AAAI, SoCS, AAMAS", :usd => 3090}].each do |award|
        %li.glyphicon.glyphicon-chevron-right
          = award[:name]

