.header-jumbo
  <h1> Service &amp; Awards <small> :: Social and academic activities.</small></h1>


%hr.featurette-divider

%a{:name => "service"}
.row.featurette
  .col-md-8
    %h2.featurette-heading
      Academic Service
    %p
      xxx

  .col-md-8
    %h2.featurette-heading
      Social Service
    %p
      xxx
      
%hr.featurette-divider
%a{:name => "awards"}
.row.featurette
  .col-md-8
    %h2.featurette-heading
      Awards
    %p
      xxx

