.center-x{text-align:center;}
.center-y{vertical-align:middle;}
.center{
    float: none;
    margin-left: auto;
    margin-right: auto;
}

.top-space{margin-top:10px;}
.index-hero{}
.index-contact{background-color:#f5f5f5;}
.index-links{}

.mini-jumbo{padding-top:10px; padding-bottom:10px;}
.header-jumbo{
    /*padding:10px;*/
    margin-bottom:10px;
    font-size:21px;
    font-weight:200;
    color:inherit;
    line-height:2.1428;
}
.header-jumbo h1{
    line-height: 1;
}
.header-jumbo p{
    line-height: 1.4;
}
.header-jumbo small{
    /*padding-left:10px;*/
}
@media screen and (min-width: 768px) {
  .header-jumbo {
    padding-top: 36px;
    padding-bottom: 12px;
  }
  .container .header-jumbo {
    /*padding-right: 10px;
    padding-left: 10px;*/
  }
  .header-jumbo h1 {
    font-size: 54px;
  }
}

.list-inline > li {
  padding-right: 10px;
  padding-left: 10px;
}